{% extends "Layout/base.html" %}

{% block content %}
    <div class="text-center">
        <h1 class="center">403 Error - Unauthorized</h1>
        <div class="center">Click <a href="{% url 'homepage_0' %}">here</a> to go back!</div>
        <br/>
        {#    If there is login error message views.py will#}
        {#    pass the message from views.py in a var named message#}
        {% if message %}
            <div class="big_text center">{{ message }}</div>
        {% endif %}
    </div>
{% endblock content %}