{% extends "Layout/base-loggedIn.html" %}

{% block content %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3>
    </div>
    <div class="row">
        <div class="list-group">
            <a href="{% url 'create_user' %}" class="list-group-item list-group-item-action">Create User</a>
            <a href="{% url 'view_user' %}" class="list-group-item list-group-item-action">Manage Users</a>
            <a href="{% url 'create_course' %}" class="list-group-item list-group-item-action">Create Course</a>
            <a href="{% url 'manage_course' %}" class="list-group-item list-group-item-action">Manage Courses</a>
            <a href="{% url 'create_class' %}" class="list-group-item list-group-item-action">Create Class</a>
        </div>
    </div>
{% endblock content %}