{% extends "Layout/base.html" %}

{% block content %}
    <div class="form-container">
        <form action="/" method="post" class="form-signin">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal text-center">TA Schedule App</h1>
            {% if message %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
            <fieldset class="border p-2">
                <legend class="float-none w-auto">Login</legend>
                <label for="inputName" class="sr-only">Name</label>
                <input type="text" id="inputName" class="form-control" name="name" placeholder="Name" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                <button class="btn btn-outline-primary btn-block my-3" type="submit">Sign in</button>
            </fieldset>
        </form>
    </div>
{% endblock content %}