{% extends "Layout/base-loggedIn.html" %}

{% block content %}
    <div class="table-container">
        {% if message %}
            <div class="alert alert-secondary" role="alert">{{ message }}</div>
        {% endif %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course</th>
                <th scope="col">Class Number</th>
                <th scope="col">Class Type</th>
                <th scope="col">Room Number</th>
                <th scope="col">Teacher Name</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
            </tr>
            </thead>
            <tbody>
            {% for class in classes %}
                <tr>
                    <th scope="row">{{ class.id }}</th>
                    <td>{{ class.course.name }}</td>
                    <td>{{ class.class_number }}</td>
                    <td>{{ class.class_type }}</td>
                    <td>{{ class.room_number }}</td>
                    <td>{{ class.teacher_name.name }}</td>
                    <td>{{ class.start_time }}</td>
                    <td>{{ class.end_time }}</td>
                    <td><a href="{% url 'delete_class' classID=class.id %}" class="link-danger">Delete</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}