{% load static %}
<!-- load static loads the directory defined in settings.py -->
<!-- this is necessary for the link tag below to load the .css file which is in the static directory -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View User</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <style>
        a {
            color: cornflowerblue;
        }

        .table-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

        td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="table-container">
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td> {{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.role }}</td>
                    <td><a href="{% url 'view_user' %}{{ user.id}}">Update | Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>